<div id="activity-bar" class="container-fluid mr-0">

    <div class="other-profile">
      <%- include ./_other-profile %>
    </div>
  
    <div class="popular-posts">
      <%- include ./_popular-posts %>
    </div>
  
  </div>
