<nav class="header-nav">

  <img class="logo" src="">
  <span class="header-name">Mindspace</span>
  <form method="GET" action="/:subject_id/:post_id">
    <input class="search-subject" type="submit" value="Search...">
  </form>

</nav>