<nav id="nav-bar" class="container-fluid pt-1 pb-1 pl-1 pr-1 mb-auto">

  <div id="nav-bar-contents" class="container-fluid row justify-content-between align-items-center">
    <span id="logout">
      <button id="logoutBtn" class="btn btn-secondary" type="button">
        Logout
      </button>
    </span>
    <span id="login-register" class="row">
      <!--LOGIN-->
      <span class="row pl-2 pr-2 mr-1 ml-2">
        <div id="loginDropdown" class="dropdown">
          <button class="btn btn-secondary dropdown-toggle ml-2 mr-1" type="button" id="loginDropToggle" data-toggle="dropdown">
            Login
          </button>
          <div class="dropdown-menu">
            <form id="loginForm" class="px-3 py-3">
              <div class="form-group">
                <label for="loginFormEmail">
                  Email Address
                </label>
                <input type="email" class="form-control" id="loginFormEmail" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="loginFormPassword">
                  Password
                </label>
                <input type="password" class="form-control" id="loginFormPassword" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-primary">
                Sign In
              </button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">No account? Sign up!</a>
          </div>
        </div>
        
        <!--REGISTER-->
        <div id="registerDropdown" class="dropdown">
          <button class="btn btn-secondary dropdown-toggle ml-1 mr-1" type="button" id="registerDropToggle" data-toggle="dropdown">
            Register
          </button>
          <div class="dropdown-menu">
            <form id="registerForm" class="px-3 py-3">
              <div class="form-group">
                <label for="registerFormEmail">
                  Email Address
                </label>
                <input type="email" class="form-control" id="registerFormEmail" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="registerFormUsername">
                  Username
                </label>
                <input type="username" class="form-control" id="registerFormUsername" placeholder="Username">
              </div>
              <div class="form-group">
                <label for="registerFormPassword">
                  Password
                </label>
                <input type="password" class="form-control" id="registerFormPassword" placeholder="Password">
              </div>
              <div class="form-group">
                <label for="registerConfirmPassword">
                  Confirm Password
                </label>
                <input type="password" class="form-control" id="registerConfirmPassword" placeholder="Confirm password">
              </div>
              <button type="submit" class="btn btn-primary">
                Sign Up
              </button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Have an account? Sign in!</a>
          </div>
        </div>
      </span>
    </span>

    <span id="mindspace-title">
      <img class="logo" src="">
      <span class="header-name">MINDSPACE</span>
    </span>
    

    <span id="searchbar" class="row">
      <!--SEARCH-->
      <span class="col">
        <div id="navSearch" class="input-group">
          <input type="text" class="form-control" placeholder="Search for topics...">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary">
              Search
            </button>
          </div>
        </div>
      </span>
      
    </span>

  </div>
    
</nav>