<div id="side-navbar" class="ml-0 side-nav container-fluid">

  <div class="user-profile">
    <%- include ./_profile %>
  </div>

  <div id="side-nav-subjects" class="pt-1 pb-3 pr-2 pl-2 mb-2">
    <ul class="list-group pl-2 pr-2 ml-2">
      <li class="list-group-item mt-1 mb-1"><a href="subjects/Technology">Technology</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="subjects/Science">Science</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="subjects/Literature">Literature</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="subjects/Health">Health</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="subjects/Business">Business</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="subjects/Arts">Arts</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="subjects/Culture">Culture</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="subjects/Education">Education</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="subjects/Engineering">Engineering</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="subjects/Politics">Politics</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="subjects/Psychology">Psychology</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="subjects/Sports">Sports</a></li>
    </ul>
  </div>

</div>
