<div id="side-navbar" class="ml-0 side-nav container-fluid">

  <div class="user-profile">
    <%- include ./_profile %>
  </div>

  <div id="side-nav-subjects" class="pt-1 pb-3 pr-2 pl-2 mb-2">
    <ul class="list-group pl-2 pr-2 ml-2">
      <li class="list-group-item mt-1 mb-1"><a href="#technology">Technology</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="#science">Science</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="#literature">Literature</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="#health">Health</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="#business">Business</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="#arts">Arts</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="#culture">Culture</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="#education">Education</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="#engineering">Engineering</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="#psychology">Psychology</a></li>
      <li class="list-group-item mt-1 mb-1"><a href="#sports">Sports</a></li>
    </ul>
  </div>

</div>
