<div id="side-navbar" class="ml-0 side-nav container-fluid">

  <div class="user-profile">
    <%- include ./_profile %>
  </div>

  <div id="side-nav-subjects" class="pt-1 pb-3 pr-2 pl-2 mb-2">
    <ul class="list-group pl-2 pr-2 ml-2">
      <li class="list-group-item mt-1 mb-1"><a class="subject-link Technology" href="#">Technology</a></li>
      <li class="list-group-item mt-1 mb-1"><a class="subject-link Science" href="#">Science</a></li>
      <li class="list-group-item mt-1 mb-1"><a class="subject-link Literature" href="#">Literature</a></li>
      <li class="list-group-item mt-1 mb-1"><a class="subject-link Health" href="#">Health</a></li>
      <li class="list-group-item mt-1 mb-1"><a class="subject-link Business" href="#">Business</a></li>
      <li class="list-group-item mt-1 mb-1"><a class="subject-link Arts" href="#">Arts</a></li>
      <li class="list-group-item mt-1 mb-1"><a class="subject-link Culture" href="#">Culture</a></li>
      <li class="list-group-item mt-1 mb-1"><a class="subject-link Education" href="#">Education</a></li>
      <li class="list-group-item mt-1 mb-1"><a class="subject-link Engineering" href="#">Engineering</a></li>
      <li class="list-group-item mt-1 mb-1"><a class="subject-link Politics" href="#">Politics</a></li>
      <li class="list-group-item mt-1 mb-1"><a class="subject-link Psychology" href="#">Psychology</a></li>
      <li class="list-group-item mt-1 mb-1"><a class="subject-link Sports" href="#">Sports</a></li>
    </ul>
  </div>

</div>
