<div id="side-navbar" class="side-nav fixed">

  <div class="user-profile">
      <%- include ./_profile %>
  </div>

  <div id="side-nav-subjects">
      <p class="active"><a href="#technology">Technology</a></p>
      <p><a href="#science">Science</a></p>
      <p><a href="#literature">Literature</a></p>
      <p><a href="#health">Health</a></p>
      <p><a href="#business">Business</a></p>
      <p><a href="#arts">Arts</a></p>
      <p><a href="#culture">Culture</a></p>
      <p><a href="#education">Education</a></p>
      <p><a href="#engineering">Engineering</a></p>
      <p><a href="#psychology">Psychology</a></p>
      <p><a href="#sports">Sports</a></p>
  </div>

</div>
