<div class="side-nav col-3">

  <div class="user-profile">
    <% include ./_profile %>
  </div>

  <div class="side-nav-subjects">
    <ul class="subjects-list">
      <li><a href="#technology">Technology</a></li>
      <li><a href="#science">Science</a></li>
      <li><a href="#literature">Literature</a></li>
      <li><a href="#health">Health</a></li>
      <li><a href="#business">Business</a></li>
      <li><a href="#arts">Arts</a></li>
      <li><a href="#culture">Culture</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#engineering">Engineering</a></li>
      <li><a href="#psychology">Psychology</a></li>
      <li><a href="#sports">Sports</a></li>
    </ul>
  </div>

</div>
