<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include partials/_head %>
  </head>

  <body class="container-fluid pl-0 pr-0">

    <header class="container-fluid pl-0 pr-0">
      <% include partials/_header %>
    </header>

    <div class="container-fluid">

      <main class="row">
        <div class="col-3">
          <%- include partials/_side-nav %>
        </div>

        <div class="col-3 pl-0">
          <% include partials/_side-nav %>
        </div>

        <div id="subjectGrid" class="col-6">

        <div class="col-6 mt-5">
          <div class="card-deck">

            <div id="technology" class="card">
              <input class="card-img-btn" type="image" src="../images/technology.jpg" alt="technology">
              <div class="card-img-overlay">
                <p class="card-text">Technology</p>
              </div>
            </div>

            <div id="science" class="card">
              <input class="card-img-btn" type="image" src="../images/science.jpeg" alt="science">
              <div class="card-img-overlay">
                <p class="card-text">Science</p>
              </div>
            </div>

            <div id="literature" class="card">
              <input class="card-img-btn" type="image" src="../images/literature.jpeg" alt="literature">
              <div class="card-img-overlay">
                <p class="card-text">Literature</p>
              </div>
            </div>

          </div>

          <div class="card-deck">
            
            <div id="health" class="card">
              <input class="card-img-btn" type="image" src="../images/health.jpeg" alt="health">
              <div class="card-img-overlay">
                <p class="card-text">Health</p>
              </div>
            </div>
            
            <div id="business" class="card">
              <input class="card-img-btn" type="image" src="../images/business.jpeg" alt="business">
              <div class="card-img-overlay">
                <p class="card-text">Business</p>
              </div>
            </div>
            
            <div id="arts" class="card">
              <input class="card-img-btn" type="image" src="../images/arts.jpeg" alt="arts">
              <div class="card-img-overlay">
                <p class="card-text">Arts</p>
              </div>
            </div>
          
          </div>

          <div class="card-deck">
            
            <div id="culture" class="card">
              <input class="card-img-btn" type="image" src="../images/culture.jpeg" alt="culture">
              <div class="card-img-overlay">
                <p class="card-text">Culture</p>
              </div>
            </div>

            <div id="education" class="card">
              <input class="card-img-btn" type="image" src="../images/education.jpeg" alt="education">
              <div class="card-img-overlay">
                <p class="card-text">Education</p>
              </div>
            </div>

            <div id="engineering" class="card">
              <input class="card-img-btn" type="image" src="../images/engineering.jpg" alt="engineering">
              <div class="card-img-overlay">
                <p class="card-text">Engineering</p>
              </div>
            </div>
          
          </div>

          <div class="card-deck">
            
            <div id="politics" class="card">
              <input class="card-img-btn" type="image" src="../images/politics.jpeg" alt="politics">
              <div class="card-img-overlay">
                <p class="card-text">Politics</p>
              </div>
            </div>
            
            <div id="psychology" class="card">
              <input class="card-img-btn" type="image" src="../images/psychology.jpeg" alt="psychology">
              <div class="card-img-overlay">
                <p class="card-text">Psychology</p>
              </div>
            </div>
            
            <div id="sports" class="card">
              <input class="card-img-btn" type="image" src="../images/sports.jpeg" alt="sports">
              <div class="card-img-overlay">
                <p class="card-text">Sports</p>
              </div>
            </div>
          
          </div>
        
        </div>

      </main>

      <aside>
        <%- include partials/_activity-bar %>
      </aside>

    </div>

    <footer class="fixed-bottom">
      <%- include partials/_footer %>
    </footer>

  </body>
</html>
