<!DOCTYPE html>
<html lang="en">

  <head>
    <% include partials/_head %>
  </head>

  <body class="container-fluid">

    <header class="container-fluid">
      <% include partials/_header %>
    </header>

    <div class="container-fluid mt-5">

    <main class="row">
      <div class="col-3">
        <% include partials/_side-nav %>
      </div>

      <div class="col-6">
        <div class="card-deck">
          <div class="card">
            <a href="#technology"><img class="card-img-top" src="../images/technology.jpg" alt="technology"></a>
            <div class="card-img-overlay align-middle">
              <p class="card-text">Tech</p>
            </div>
          </div>
          <div class="card">
            <a href="#science"><img class="card-img-top" src="../images/science.jpeg" alt="science"></a>
            <div class="card-img-overlay align-middle">
              <p class="card-text">Science</p>
            </div>
          </div>
          <div class="card">
            <a href="#literature"><img class="card-img-top" src="../images/literature.jpeg" alt="literature"></a>
            <div class="card-img-overlay align-middle">
              <p class="card-text">Literature</p>
            </div>
          </div>
  
        </div>
  
        <div class="card-deck">
          <div class="card">
            <a href="#health"><img class="card-img-top" src="../images/health.jpeg" alt="health"></a>
            <div class="card-img-overlay align-middle">
              <p class="card-text">Health</p>
            </div>
          </div>
          <div class="card">
            <a href="#business"><img class="card-img-top" src="../images/business.jpeg" alt="business"></a>
            <div class="card-img-overlay align-middle">
              <p class="card-text">Business</p>
            </div>
          </div>
          <div class="card">
            <a href="#arts"><img class="card-img-top" src="../images/arts.jpeg" alt="arts"></a>
            <div class="card-img-overlay align-middle">
              <p class="card-text">Arts</p>
            </div>
          </div>
        </div>
  
        <div class="card-deck">
          <div class="card">
            <a href="#culture"><img class="card-img-top" src="../images/culture.jpeg" alt="culture"></a>
            <div class="card-img-overlay align-middle">
              <p class="card-text">Culture</p>
            </div>
          </div>
          <div class="card">
            <a href="#education"><img class="card-img-top" src="../images/education.jpeg" alt="education"></a>
            <div class="card-img-overlay align-middle">
              <p class="card-text">Education</p>
            </div>
          </div>
          <div class="card">
            <a href="#engineering"><img class="card-img-top" src="../images/engineering.jpg" alt="engineering"></a>
            <div class="card-img-overlay align-middle">
              <p class="card-text">Engineering</p>
            </div>
          </div>
        </div>
  
        <div class="card-deck">
          <div class="card">
            <a href="#politics"><img class="card-img-top" src="../images/politics.jpeg" alt="politics"></a>
            <div class="card-img-overlay align-middle">
              <p class="card-text">Politics</p>
            </div>
          </div>
          <div class="card">
            <a href="#psychology"><img class="card-img-top" src="../images/psychology.jpeg" alt="psychology"></a>
            <div class="card-img-overlay align-middle">
              <p class="card-text">Psychology</p>
            </div>
          </div>
          <div class="card">
            <a href="#sports"><img class="card-img-top" src="../images/sports.jpeg" alt="sports"></a>
            <div class="card-img-overlay align-middle">
              <p class="card-text">Sports</p>
            </div>
          </div>
        </div>
      </div>

    </main>

    <div class="col-3">
      <% include partials/_activity-bar %>
    </div>

    </div>

    <footer class="fixed-bottom">
      <% include partials/_footer %>
    </footer>

  </body>
</html>
