<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ./partials/_head %>
  </head>

  <body>

    <header>
      <% include ./partials/_header %>
    </header>

    <aside>
      <% include ./partials/_side-nav %>
    </aside>

    <aside>
      <%include ./partials/_activity-bar %>
    </aside>

    <main class="container">

      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../images/technology.jpg" alt="technology">
            <div class="overlay">
              <span>Technology</span>
            </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/science.jpeg" alt="science">
            <div class="overlay">
              <span>Science</span>
            </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/literature.jpeg" alt="literature">
            <div class="overlay">
              <span>Literature</span>
            </div>
        </div>
      </div>

      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../images/health.jpeg" alt="health">
            <div class="overlay">
              <span>Health</span>
            </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/business.jpeg" alt="business">
            <div class="overlay">
              <span>Business</span>
            </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/arts.jpeg" alt="arts">
            <div class="overlay">
              <span>Arts</span>
            </div>
        </div>
      </div>

      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../images/culture.jpeg" alt="culture">
            <div class="overlay">
              <span>Culture</span>
            </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/education.jpeg" alt="education">
            <div class="overlay">
              <span>Education</span>
            </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/engineering.jpg" alt="engineering">
            <div class="overlay">
              <span>Engineering</span>
            </div>
        </div>
      </div>

      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../images/politics.jpeg" alt="politics">
            <div class="overlay">
              <span>Politics</span>
            </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/psychology.jpeg" alt="psychology">
            <div class="overlay">
              <span>Psychology</span>
            </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../images/sports.jpeg" alt="sports">
            <div class="overlay">
              <span>Sports</span>
            </div>
        </div>
      </div>

    </main>

    <footer>
      <% include ./partials/_footer %>
    </footer>

  </body>
</html>
