<main class="container">
    <section class="create-post">
        <h2>Create Post</h2>
          <textarea name="text" placeholder="External URL"></textarea>
          <textarea name="text" placeholder="Title"></textarea>
          <textarea name="text" placeholder="Description"></textarea>
          <button class="create-post" type="submit">Create Post</button>
      </section>
  </main>

