<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ./partials/_head>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <aside>
    <% include ./partials/_side-nav %>
  </aside>
  <aside>
    <% include ./partials/_activity-bar %>
  </aside>
  <main class="container">
    <section class="view-post">
        <h2><%= Title %></h2>
        <form method="POST" action="/:subject_id/:post_id" class="view-form">
          <section class="new-comment">
            <textarea name="text" placeholder="Thoughts?"></textarea>
            <input class="post-comment" type="submit" value="Comment">
          </section>
          <section class="comment-box">
          </section>
        </form>
      </section>
  </main>
  <footer>
    <% include ./partials/_footer %>
  </footer>
</body>
</html>