@import "palette";


#nav-bar {
  background: url("../images/nav-bar.jpg") no-repeat;
  height: 8rem;

  #nav-bar-contents {

    #mindspace-title {
      color: $color5;
      font-size: 5rem;
      text-align: center;
    }

    #logout {
      display: none;
    }

  }
}