@import "palette";

.card-deck {
  margin-bottom: 2em;
}

.card {
  position: relative;
    .card-img-top {
      opacity: 1;
      display: block;
      width: 100%;
      transition: .2s ease;
      backface-visibility: hidden;
    }
    &:hover {
      opacity: 0.6;
    }

    .card-img-overlay {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      p {
        text-align: center;
        font-size: 1.4rem;
      }
    }
    .card-img-overlay:hover {
      opacity: 1;
      color: $color5;
    }
}