/* Coolors Exported Palette - coolors.co/0b075a-233855-284776-8e94be-c5c4cc */

/* HSL */
// $color1: hsla(243%, 86%, 19%, 1);
// $color2: hsla(215%, 42%, 24%, 1);
// $color3: hsla(216%, 49%, 31%, 1);
// $color4: hsla(233%, 27%, 65%, 1);
// $color5: hsla(248%, 7%, 78%, 1);

/* RGB */
$color1: rgba(11, 7, 90, 1);
$color2: rgba(35, 56, 85, 1);
$color3: rgba(40, 71, 118, 1);
$color4: rgba(142, 148, 190, 1);
$color5: rgb(255, 255, 255);

/* Font */
$ptext: 'Montserrat', sans-serif;