/* Coolors Exported Palette - coolors.co/0b075a-233855-284776-8e94be-c5c4cc */

/* RGB */
$color1: rgba(11, 7, 90, 1);
$color2: rgb(49, 61, 78);
$color3: rgba(40, 71, 118, 1);
$color4: rgba(142, 148, 190, 1);
$color5: rgba(255, 255, 255, 0.651);
$color6: rgba(255, 255, 255, 0.9);

/* Font */
$ptext: 'Montserrat', sans-serif;