@import 'palette';

#side-navbar {
  background: url("../images/nav-bar.jpg");
  min-height: 100%;
  width: 15vw;
  @media (max-width: 1200px) {
    width: calc(15vw - .4vw);
  }
  #side-nav-subjects {
    width: 80%;
    li a {
      color: $color5;
      text-decoration: none;
      font-size: 1.25rem;
      text-align: center;
      
      &:hover {
        color: $color6;
        transition: all 0.5s ease;
      }
    }
    .list-group-item {
      background-color: transparent;
      border: none;
    }
  }
}


