@import 'palette';

.col-3 {
    #side-navbar {
        background-color: $color2;
        height: 100%;
        #side-nav-subjects {   
            p {
                font-size: 2rem;
                text-align: center;
                a {
                    color: $color4;
                    text-decoration: none;
                    &:hover {
                        color: $color5;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
}
