.card-deck {
  margin-bottom: 2em;
}

.card {
  position: relative;
}

.card .card-img-top {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .2s ease;
  backface-visibility: hidden;
}

.card:hover {
  opacity: 0.6;
}

.card:hover {
  opacity: 0.6;
}

.card:hover .card-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.card .card-img-btn {
  position: relative;
  opacity: 1;
  display: block;
  width: 100%;
  transition: .2s ease;
  backface-visibility: hidden;
}

.card .card-img-overlay {
  transition: .5s ease;
  opacity: 0;
  text-align: center;
  font-size: 1.5em;
}

.card .card-img-overlay:hover {
  opacity: 1;
  color: white;
}

body {
  background-color: #EEE;
  font-family: 'Montserrat', sans-serif;
}

body h1 {
  color: #244751;
}
