/* Coolors Exported Palette - coolors.co/0b075a-233855-284776-8e94be-c5c4cc */
/* RGB */
/* Font */
.card-deck {
  margin-bottom: 2em;
}

.card {
  position: relative;
}

.card .card-img-top {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .2s ease;
  backface-visibility: hidden;
}

.card:hover .card-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  opacity: 1;
  color: white;
  font-size: 2rem;
  pointer-events: none;
}

.card .card-img-btn {
  position: relative;
  opacity: 1;
  display: block;
  width: 100%;
  transition: .2s ease;
  backface-visibility: hidden;
}

.card .card-img-overlay {
  transition: .5s ease;
  opacity: 0;
  text-align: center;
  font-size: 2vw;
}

.card .card-img-overlay:hover {
  opacity: 0.7;
  background-color: #313d4e;
}

/* Coolors Exported Palette - coolors.co/0b075a-233855-284776-8e94be-c5c4cc */
/* RGB */
/* Font */
#side-navbar {
  background: url("../images/nav-bar.jpg");
  min-height: 100%;
  width: 15vw;
}

@media (max-width: 1200px) {
  #side-navbar {
    width: calc(15vw - .4vw);
  }
}

#side-navbar #side-nav-subjects {
  width: 80%;
}

#side-navbar #side-nav-subjects li a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 1.25rem;
  text-align: center;
}

#side-navbar #side-nav-subjects li a:hover {
  color: white;
  transition: all 0.3s ease;
}

#side-navbar #side-nav-subjects .list-group-item {
  background-color: transparent;
  border: none;
}

/* Coolors Exported Palette - coolors.co/0b075a-233855-284776-8e94be-c5c4cc */
/* RGB */
/* Font */
/* Coolors Exported Palette - coolors.co/0b075a-233855-284776-8e94be-c5c4cc */
/* RGB */
/* Font */
#nav-bar {
  background: url("../images/nav-bar.jpg") no-repeat;
  height: 8rem;
}

#nav-bar #nav-bar-contents #mindspace-title {
  color: white;
  font-size: 5rem;
  text-align: center;
}

#activity-bar {
  background-color: #353535;
  margin-top: 0px;
}

html {
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: calc(6px + .4vw);
  }
}

body {
  background-color: rgba(26, 26, 26, 0.849) !important;
  font-family: 'Montserrat', sans-serif !important;
  min-height: 100%;
}

body h1 {
  color: #244751;
}

footer {
  background: url("../images/nav-bar.jpg");
  color: white;
}
