@import "partials/index";
@import "partials/side-nav";
@import "partials/palette";
@import "partials/header";
@import "partials/activity-bar";

body {
  background-color: #EEE;
  font-family: 'Montserrat', sans-serif;
  h1 {
    color: #244751;
  }
}





