@import "partials/index";
@import "partials/side-nav";
@import "partials/palette";
@import "partials/header";
@import "partials/activity-bar";
@import "partials/test-templates";
@import "partials/rohit";
@import "partials/user_profile";

html {
  font-size: 16px;

  @media (max-width: 1200px) {
    font-size: calc(6px + .4vw);
  }
}


body {
  background-color: rgba(26, 26, 26, 0.849) !important;
  font-family: 'Montserrat', sans-serif !important;
  min-height: 100%;
}

footer {
  background: url("../images/nav-bar.jpg");
  color: $color5;
}

.modal-backdrop {
  background-image: url("../images/spacebackdrop.jpg");
}
